name: Deploy

on:
  push:
    branches:
      - eemaan/refactor-plugin-setup
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      SSH: ssh -o StrictHostKeyChecking=no -o TCPKeepAlive=yes -o ServerAliveInterval=150 -i ~/.ssh/wikilearn_rsa -o ProxyCommand='ssh -i ~/.ssh/wikilearn_rsa -o StrictHostKeyChecking=no -W %h:%p ubuntu@54.237.140.154' ubuntu@192.168.197.58
      WIKILEARN_BRANCH: eemaan/refactor-plugin-setup
      INDIGO_WIKILEARN_BRANCH: develop
      LMS_HOST: dev.learn.wiki
      VENV: ~/venv
      PIP: ~/venv/bin/pip
      TUTOR: ~/venv/bin/tutor
    steps:
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/wikilearn_rsa
          chmod 600 ~/.ssh/wikilearn_rsa
        env:
          SSH_KEY: ${{ secrets.WIKILEARN_SSH_KEY }}

      - name: Create virtualenv
        run: |
          $SSH "#! /bin/bash -e
          rm -rf $VENV
          python3 -m venv $VENV
          "

      - name: Upgrade python requirements
        run: |
          $SSH "#! /bin/bash -e
          $PIP install --upgrade pip setuptools
          "

      - name: Install dependencies, tutor and plugins (from source)
        run: |
          $SSH "#! /bin/bash -e
          $PIP install --upgrade --editable "git+https://github.com/wikimedia/tutor-contrib-wikilearn.git@${WIKILEARN_BRANCH}#egg=tutor-contrib-wikilearn"
          $PIP install --upgrade --editable "git+https://github.com/wikimedia/tutor-indigo-wikilearn.git@${INDIGO_WIKILEARN_BRANCH}#egg=tutor-indigo-wikilearn"
          "

      - name: Backup data
        run: |
          $SSH "#! /bin/bash -e
            mkdir -p ~/apps/openedx/backup
            if [ -d ~/.local/share/tutor/data/caddy ]
            then
              echo "Backing up caddy data"
              sudo cp -r ~/.local/share/tutor/data/caddy ~/apps/openedx/backup/
            else
              echo "No caddy data to backup"
            fi
          "

      - name: Clear existing platform
        run: |
          $SSH "#! /bin/bash -e
            if [ -d ~/.local/share/tutor/env ]
            then
              echo "Stopping tutor containers"
              $TUTOR local stop
            else
              echo "No running tutor container"
            fi
            sudo rm -rf ~/.local/share/tutor
            docker container prune --force
          "

      - name: Restore some data
        run: |
          $SSH "#! /bin/bash -e
            mkdir -p ~/.local/share/tutor/data/
            if [ -d ~/apps/openedx/backup/caddy ]
            then
              echo "Restoring caddy backup data"
              sudo cp -r ~/apps/openedx/backup/caddy ~/.local/share/tutor/data/
            else
              echo "No caddy backup data to restore"
            fi
          "

      - name: Enable plugins
        run: |
          $SSH "#! /bin/bash -e
          $TUTOR plugins enable wikilearn
          $TUTOR wikilearn enable
          "

      - name: Configure tutor settings
        run: |
          $SSH "#! /bin/bash -e
            $TUTOR config save \
              --set LMS_HOST=$LMS_HOST \
              --set CMS_HOST=studio.$LMS_HOST \
              --set ENABLE_HTTPS=true \
              --set PLATFORM_NAME='Wikilearn Dev'
          "

      - name: Configure Aspects
        run: |
          $SSH "$TUTOR config save --set ASPECTS_ENABLE_PII=true --set ASPECTS_ENABLE_STUDIO_IN_CONTEXT_METRICS=true"

      - name: Build Docker images
        run: |
          $SSH "#! /bin/bash -e
            $TUTOR images build all
          "

      - name: Launch
        run: $SSH "$TUTOR local launch --non-interactive"

      - name: "Provision: Create users"
        run: |
          $SSH "#! /bin/bash -e
            $TUTOR local do createuser --staff --superuser --password=admin admin admin@edly.io
            $TUTOR local do createuser --password=student student student@edly.io
          "

      - name: "Provision: Import demo course"
        run: $SSH "$TUTOR local do importdemocourse"